<body>
<div>
<h1 id="page1">Please Enter A Movie Title</h1>
      
      <form method=get action='/results'>
		<input type='text' name='title'>
		<input id="submit" type='submit'>
	  </form>
<div></div>
<a href=/movies/new>Add A Film to the Database</a>
</body>	
<div>